html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    color: #222;
    background-color: rgb(60, 190, 190);
}

header {
    position: relative;
    height: 35vh;
    border-bottom: 7px solid #222;
}

main {
    height: 65vh;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 4rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left {
    width: 52rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    width: 52rem;
    font-size: 2rem;
}

.between {
    font-size: 1.4rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.again {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.number {
    color: #333;
    font-size: 6rem;
    width: 15rem;
    padding: 3rem 0rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.again {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.guess {
    background: none;
    color: inherit;
    border: 4px solid #222;
    font-family: inherit;
    font-size: 5rem;
    padding: 2.5rem;
    width: 25rem;
    text-align: center;
    display: block;
    margin-bottom: 3rem;
}

.message {
    margin-bottom: 8rem;
    height: 3rem;
}

.label-score {
    margin-bottom: 2rem;
}

.btn {
    border: none;
    background-color: #ae87db;
    color: #222;
    font-size: 2rem;
    padding: 2rem 3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 12px;
}

.btn:hover {
    background-color: #da3434;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgba(151, 48, 120, 0.3);
}

.btn:active {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}